<!DOCTYPE html>
    
    {% include 'head.html' %}
    
    <body>
		{% include 'header.html'%}

		{% include 'presentation.html'%}

        <section id="mes_competences">
            <div id="titre_competences">
                <h2>{{TITRE_COMPETENCES}}</h2>
            </div>
			<section id="les_competences">
                
                {% set indice = 0 %}
                {% for i in range(LIENS | length) %}
                    <a href= #{{LIENS[i]}}>
                        <div class={{NUM_COMPETENCE[i]}}>
                            <h3>{{COMPETENCES[i][0]}}</h3>
                            <ul>
                                {% for titre in COMPETENCES[i][1] %}
                                    <li>{{titre}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </a>
                    {% endfor %}
                    
			</section>
		</section>

        <section id="realisations">
			<div id="titre_Realisation">
                <h2>{{TITRE_REALISATION}}</h2>
            </div>
            <section id="les_realisations">
                {% if articles %}
                    <div id ="real_slam">
                        <h3>Réalisation orienté developpement</h3>
                        {% for article in articles_page.object_list %}
                            {% if article.type == "SLAM" %}
                                <div id={{article.slug}}>
                                    {{article.content}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="real_sisr">
                        <h3>Réalisation orienté réseau</h3>
                        {% for article in articles_page.object_list %}
                            {% if article.type == "SISR" %}
                                <div id={{article.slug}}>
                                    {{article.content}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </section>
		</section>
		
		{% include 'a propos.html'%}

		{% include 'footer.html'%}
        
    </body>
</html>
