<!DOCTYPE html>
    
    {% include 'head.html' %}
    
    <body>
		{% include 'header.html'%}

		{% include 'presentation.html'%}

        <section id="mes_competences">
            <div id="titre_competences">
                <h2>{{COMPETENCES}}</h2>
            </div>
			<section id="les_competences">
				<a href= #{{LIENS[0]}}>
					<div id="competence1">
						<h3>{{TITRE_COMPETENCE1}}</h3>
						<ul>
							{% for titre  in COMPETENCE1 %}
								<li>{{titre}}</li>
							{% endfor %}
						</ul>
					</div>
				</a>
				<a href= #{{LIENS[1]}}>
					<div id="competence2">
						<h3>{{TITRE_COMPETENCE2}}</h3>
						<ul>
							{% for titre  in COMPETENCE2 %}
								<li>{{titre}}</li>
							{% endfor %}
						</ul>
					</div>
				</a>
                <a href= #{{LIENS[2]}}>
					<div id="competence3">
						<h3>{{TITRE_COMPETENCE3}}</h3>
						<ul>
							{% for titre  in COMPETENCE3 %}
								<li>{{titre}}</li>
							{% endfor %}
						</ul>
					</div>
				</a>
                <a href= #{{LIENS[2]}}>
					<div id="competence4">
						<h3>{{TITRE_COMPETENCE4}}</h3>
						<ul>
							{% for titre  in COMPETENCE4 %}
								<li>{{titre}}</li>
							{% endfor %}
						</ul>
					</div>
				</a>
			</section>
		</section>

        <section id="realisations">
			<div id="titre_Realisation">
                <h2>{{TITRE_REALISATION}}</h2>
            </div>
            <section id="les_realisations">
                
                {% if articles %}
                    {% for article in articles_page.object_list %}
                        <div id={{article.slug}}>
                            {{article.content}}
                        </div>
                        
                    {% endfor %}
                {% endif %}
            </section>
		</section>
		
		{% include 'a propos.html'%}

		{% include 'footer.html'%}
        
    </body>
</html>
